<div class="bg-dark text-white p-3 vh-100" style="width: 250px;">
  <h4 class="text-center">Fantasy NFL</h4>
  <hr />
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="#" class="nav-link" data-view="config">
        <i class="nav-icon fas fa-cogs"></i>
        <p>Configuración</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white" data-view="players">Jugadores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-view="leagues">
        <i class="nav-icon fas fa-trophy"></i>
        <p>Ligas</p>
      </a>
    </li>
  </ul>
</div>
